<section class="m-t container-fluid">
<div class="section-title">{{ content['block-title'] }}</div>
	<div id="block{{ content['block_id'] }}">
		{% if content['setting']['brands_title'] %}
			<div class="s-block__title">
				<div class="flex flex-col w-full">
					<h2 class="w-full da-cp">{{ content['setting']['brands_title'] }}</h2>
				</div>
			</div>
		{% endif %}

		<div id="slider{{ content['block_id'] }}" class="home-grid  brands">
			{% for brand in content['settings']['brands'] %}
				<a href="">
					<div class="brands-image">
						<img class="hoive" src="{{ storage_url ~ brand['logo'] }}" {# onerror="this['src']='{{ asset_url ~ (brand['logo']) }}'" #}/>
						<h3 class="text-lg">{{ brand['name'] }}</h3>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
