<section class="s-block s-block--banners m-t test_testimonials_card container-fluid">
	<div id="block{{ content['block_id'] }}">
	
		<div class="p-15" style="display: flex; justify-content: space-between;align-items: center;">
				<h2 class="section-title">{{ content['block_topic'] }}</h2>
			<div class="product-group-arrows">
				<span class="product-group-arrow-prev">
					<i class="icon-caret-{{ lang == 'ar' ? 'right':'left' }}"></i>
				</span>
				<span class="product-group-arrow-next">
					<i class="icon-caret-{{ lang == 'ar' ? 'left':'right' }}"></i>
				</span>
			</div>
		</div>

		<div id="slider{{ content['block_id'] }}" class="home-grid  owled ">
			{% for review in content['settings']['reviews'] %}
				<div class="testimonials_card">
					<div
						class="s-testimonials--slider--img flex-center flex-col gap-2" style="text-align: -webkit-center;">
						{# <div
												                            class="testimonial__avatar overflow-hidden h-24 w-24 flex z-1 rounded-full transition-shadow duration-500 hover:shadow-default">
												                            <img src="{{ asset_url ~ ('images/') }}{{ review['customer']['gender'] ?? 'other' }}-gender.png"
												                                data-src="{{ asset_url ~ ('images/') }}{{ review['customer']['gender'] ?? 'other' }}-gender.png"
												                                alt="{{ review['name'] }}" claowl-carouselss="w-full h-full object-cover lazy loaded" loading="lazy"
												                                data-ll-status="loaded" width="75" height="75" style="width: 75px">
												                        </div> #}
						<div class="icon-test_photo">
							<div class="testimonials_photo">
								<img src="https://cdn.salla.sa/customer_profiles/YJXiZCRBTT94P0yoxCVfVRzYKdY7GI2mcZpVhfWl.jpg">
							</div>
							<div>
								<h4 class="text-lg leading-6 da-tm topic-star">
									{% if hide != 'true' %}
										{{ review['name'] }}
									{% endif %}
								</h4>
								<div class="testimonial__rating text-sm stars">
									<twsaarating-stars size="small" value="5" class="hydrated">
										<div class="s-rating-stars-wrapper">
											{% for i in 0..4 %}
												{% if review['rating'] > i %}
													<i class="icon-star2" style="color: rgb(255, 215, 0);"></i>
												{% else %}
													<i class="icon-star2" style="color: rgb(212, 212, 212);"></i>
												{% endif %}
											{% endfor %}
										</div>
									</twsaarating-stars>
								</div>

							</div>

						</div>
						<p class="text-base expalin-testi">
							{{ review['comment'] }}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
