<section class="m-t container-fluid">
            <div class="main-imaged">
                <img class="imaged_img"  src="{{content['settings']['image']}}" loading="lazy" alt="img">
                <div class="content_imaged">
                <span>{{content['settings']['name']}}</span>
                <h2>{{content['settings']['title']}}</h2>
                <p>{{content['settings']['explain']}}</p>
                <a class="btn-link" href="{{content['settings']['link']}}">{{content['settings']['botton']}}</a>
                </div>
            </div>
</section>