<section class="m-t container-fluid">

	<div class="swiper myListSwiper ">
		<div class="pagination-section" style="position:relative;">
			<h2 class="section-title">{{content['settings']['title']}}</h2>
			<div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="swiper-wrapper">
			{% for item in content['settings']['items'] %}
				<div class="swiper-slide">
					<a href="{{ item['link'] ?? '' }}" aria-label="link" class="banner-entry-list ">
						<img src="{{ item['image'] }}" data-bg="{{ item['image'] }}" loading="lazy">
						{% if item['name'] %}
							<h2 class="text-lg">{{ item['name'] }}</h2>
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>

	</div>
</section>
