<section class="s-block s-block--banners m-t container-fluid">
    <div class="grid one-row grid-gallery  ">
        {% for item in content['settings']['items'] %}
            <a href="" class="banner-imaged">
                {# <div class="lazy__bg lazy entered loaded"
                    data-bg="{{ item['image'] }}"
                    data-ll-status="loaded"
                    style="background-image: url(&quot;&quot;);">
                </div> #}
                <img data-bg="{{ item['image'] }}" src="{{ item['image'] }}" loading="lazy" alt="img">
                
                {# {% if item['link'] %}
                    <a href="{{ item['link'] }}" aria-label="link">
                {% endif %}
                {% if item['name'] %}                        
                    <h3 class="text-lg">{{ item['name'] }}</h3>
                {% endif %}
                {% if item['link'] %}
                </a>
                {% endif %} #}
            </a>
        {% endfor %}
    </div>
</section>