<section class="m-t">
    <div class="national-day">
            <div class="national-main">
                <img class="national-image" src="{{ content['settings']['image'] }}" loading="lazy" alt="img">
                <div class="national-content">
                    <h2>{{ content['settings']['topic'] }}</h2>
                    <p>{{ content['settings']['desciption'] }}</p>
                    <a class="btn-link" href="{{content['settings']['linked']}}">{{content['settings']['bton']}}</a>
                </div>
            </div>
    </div>
</section>