<section class=" m-t">
	<div class="s-block s-block--features" style="background-image:url({{content['settings']['image'] }})">
		{% set channel = getFunction('getCurrentChannel') %}
		<div class="features_main">
			<div class="store-logo top-links-2">
				<a href="/">
					{% if channel %}
						<img src="{{ storage_url ~ channel.logo }}" class="logo">
					{% else %}
						<h1>{{ channel.name }}</h1>
					{% endif %}
				</a>
				<h1 class="topic-title">
					مميزات متجر أسمارت
				</h1>
			</div>
			<div class="row_features">
				{% for item in content['settings']['items'] %}
					<div class="features__item">
						<div class="feature-icon">
							<img src="{{ item['icon'] }}" >
						</div>
						<h2 class="title-feat">{{ item['main_title'] }}</h2>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
